html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    font-family: 'PingFang SC', 'Microsoft Yahei';
    opacity: 0;
    transition: opacity 1s;
}

.swiper-container-v {
    width: 100%;
    height: 100%;
}

.swiper-container-h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.swiper-slide-v {
    background-image: url(assets/bg@2x.png);
    background-size: cover;
    background-color: #ebebeb;
}

.swiper-slide-h {
    background-position: center;
    background-size: cover;
    width: 290px;
    height: 195px;
}

.cover img {
    display: block;
    margin: 0 auto;
}

.cover .title {
    margin-top: 5%;
    width: 53%;
}

.cover .icon {
    margin-top: 15px;
    width: 80%;
}

.cover .xdd {
    position: absolute;
    top: 27%;
    left: 40%;
    width: 24%;
}

.cover .item {
    margin-top: 15px;
    width: 80%;
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.swiper2 img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #f39210 !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 55%;
}

.inner .text {
    position: absolute;
    top: 285px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.inner .banner {
    width: 200px;
}

.inner .box {
    margin: 0 auto;
    width: 94%;
    height: 90%;
    background-image: url(assets/inner/bg-1@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 15px;
}

.inner .city,
.inner .date,
.inner .desc {
    display: none;
}

.inner .city.active {
    display: inline;
}

.inner .date.active,
.inner .desc.active {
    display: block;
}

.inner .city {
    height: 30px;
}

.inner .date {
    margin: 0;
    font-size: 0.7em;
    background-image: url(assets/inner/bg-2@2x.png);
    background-position: center;
    background-repeat: no-repeat;
}

.inner .desc {
    padding: 0 10px;
    text-align: justify;
    text-indent: 2em;
}

.outer {
    text-align: center;
}

.outer .banner2 {
    margin-top: 5%;
    height: 8%;
}

.outer .pic1 {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    height: 40%;
}

.outer .dialog {
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 47%;
    overflow-y: scroll;
}

.outer hr {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    margin: 0;
    width: 1px;
    height: 720px;
    border: 0;
    background-color: #ccc;
}

.outer .hr-left {
    margin-left: -10px;
}

.outer .hr-right {
    margin-left: 10px;
}

.outer a.link {
    position: relative;
    z-index: 2;
    display: block;
    margin: 10px auto;
    padding: 5px 10px 10px 10px;
    width: 100px;
    text-decoration: none;
    background-size: 100% 100%;
}

.outer a.link:first-child {
    margin-top: 20px;
}

.outer a.link:nth-child(odd) {
    background-image: url(assets/outer/bgb.png);
    color: #fff;
    margin-left: 50%;
}

.outer a.link:nth-child(even) {
    background-image: url(assets/outer/bgy.png);
    color: #000;
    margin-right: 50%;
}

.end img {
    position: absolute;
}

.end .item1 {
    top: 5%;
    left: 5%;
    width: 206px;
}

.end .item2 {
    top: 35%;
    left: 15%;
    width: 110px;
}

.end .item3 {
    bottom: 5%;
    right: 0%;
    width: 185px;
}

.end .item4 {
    bottom: 15%;
    left: 3%;
    width: 175px;
}

.outer .pic-1 {
    margin-top: 10px;
    height: 12%;
}

.outer .dialog1 a.link {
    display: block;
    margin: 5px auto;
    padding: 7px 10px;
    width: 80%;
    text-decoration: none;
    background-size: 100% 100%;
    font-size: 0.9em;
}

.outer .dialog1 a.link:nth-child(odd) {
    background-image: url(assets/outer/bgb_1.png);
    color: #fff;
}

.outer .dialog1 a.link:nth-child(even) {
    background-image: url(assets/outer/bgy_1.png);
    color: #000;
}

.outer .dialog1 p.notice {
    margin: 5px auto;
}

.arrow {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 47%;
    width: 20px;
    height: 15px;
    transition: opacity 1s;
}
